@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --main-color: #12D688;
  --main-color-lg: #111;
  --main-color-dk: #127475;
  --changedk: #111;
  --changelg: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  user-select: none;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

/* body {
  --changedk: #e2e2e2;
  --changelg: #333;
} */


/* Header */


header {
  padding: 5px 40px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(var(--main-color), var(--main-color-dk));
  box-shadow:
    0px 4px 25px #000,
    0px 10px 80px #333;
  border-bottom: 5px solid #126464;
}

header>figure {
  width: 70px;
  height: 70px;
}

.logo {
  width: 100%;
}

.instagram {
  width: 60px;
  height: 60px;
  padding: 10px;
  border: 2px solid var(--changelg);
  border-radius: 50%;
  transition: border .5s, border-radius .5s;
}

.instagram>svg {
  fill: var(--changelg);
  transition: fill .5s;
}

.instagram:hover {
  --changelg: #000;
  border-radius: 20px;
}

header>h1 {
  font-family: 'Lobster Two', serif;
  font-weight: 400;
  font-size: 64px;
  text-shadow: 2px 2px 1px #000;
  position: relative;
  color: #fff;
}

.admin-mode {
  position: relative;
  display: block;
  margin: 10px auto;
  width: 80px;
  height: 40px;
  background: #000;
  border-radius: 25px;
}

#admin-mode {
  display: none;
}

.admin-mode::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 25px;
  border: 4px solid #000;
  background: #f00;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: transform .5s, background .5s;
}

#admin-mode:checked~.admin-mode::after {
  background: #0f0;
  transform: translateX(40px);
}

/* NavBar */


.wrapper {
  overflow: hidden;
}

.menu {
  --hexagon-side: calc(100vw/11);
  display: grid;
  grid-template-columns: repeat(11, calc(var(--hexagon-side)));
  grid-template-rows: repeat(4, calc(var(--hexagon-side)));
  animation: move 10s infinite alternate;
}

.menu__option,
.menu__separator {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: #000;
  position: relative;
}

.menu__option {
  --border-size: calc(100vw/400);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2/var(--i)/span 2/span 2;
  left: calc(var(--hexagon-side)/2);
  border-top: var(--border-size) solid #000;
  border-bottom: var(--border-size) solid #000;
  transition: background-color .4s;
  cursor: pointer;
}

.menu__option>svg {
  width: 50%;
  height: 50%;
  fill: #fff;
  transition: fill .4s;
}

.menu__option:hover {
  background-color: aquamarine;
}

.menu__option:hover>svg {
  fill: #000;
}

.menu__option.active {
  background-color: #F2542D;
}

.menu__option.active>svg {
  fill: #fff;
}

.menu__separator {
  grid-area: var(--j)/var(--i)/span 2/span 2;
}

.menu__separator::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(26% .5%, 74% .5%, 99% 50%, 74% 99%, 26% 99%, 1% 50%);
}

/*
  Options:
  --i = (nth-child-1)
*/

.menu__option:nth-child(3) {
  --i: 2;
}

.menu__option:nth-child(6) {
  --i: 5;
}

.menu__option:nth-child(9) {
  --i: 8;
}

/*
  Separators:
  --j = 1 | 3 per pair
  --i = first nth-child per pair
*/

.menu__separator:nth-child(1) {
  --j: 1;
  --i: 1;
}

.menu__separator:nth-child(2) {
  --j: 3;
  --i: 1;
}

.menu__separator:nth-child(4) {
  --j: 1;
  --i: 4;
}

.menu__separator:nth-child(5) {
  --j: 3;
  --i: 4;
}

.menu__separator:nth-child(7) {
  --j: 1;
  --i: 7;
}

.menu__separator:nth-child(8) {
  --j: 3;
  --i: 7;
}

.menu__separator:nth-child(10) {
  --j: 1;
  --i: 10;
}

.menu__separator:nth-child(11) {
  --j: 3;
  --i: 10;
}


/* Main */


section {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--changelg);
  align-items: center;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
}

section:nth-child(3) {
  box-shadow: 0px -20px 16px #0005;
}

.section__title {
  width: 90%;
  position: relative;
  font-size: 2.5em;
  text-align: center;
  margin: 40px 0px;
  color: transparent;
  background: linear-gradient(to right, #00ff51, #024b61);
  background-clip: text;

}

.section__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -4px;
  left: 0px;
  border-radius: 25px;
  background: linear-gradient(to right, #00ff51, #024b61);
}

.section__products {
  width: 90%;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));

}

.products__product {
  max-width: 450px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  background: #fff;
  border: 2px solid var(--changedk);
  border-radius: 10px;
  box-shadow:
    16px 16px 0px -7px #fff,
    16px 16px 0px -5px #000;
}

/* .products__product::before {
  content: "";
  display: block;
  width: 40%;
  height: 100%;
  position: absolute;
  z-index: -10;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, var(--main-color), #12abd6);
  border: 2px solid var(--changedk);
  border-radius: 7px;
  transform: rotate(-7deg) translateX(-7px);
  animation: rotateMove 10s 4s infinite alternate;
} */

.product__img {
  display: block;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  position: relative;
  top: -15px;
  left: -15px;
  box-shadow: 0px 0px 0px 2px #000;
  border-radius: 4px;
  background-color: #fff;
}

.product__title,
.product__body {
  width: 50%;
  max-height: 80%;
  padding: 0px 2px;
  text-align: center;
  text-wrap: balance;
  font-size: 22px;
  color: var(--changedk);
  overflow-y: auto;
}

.product__body {
  font-size: 16px;
}

.product__title::-webkit-scrollbar,
.product__body::-webkit-scrollbar,
.add__title::-webkit-scrollbar,
textarea::-webkit-scrollbar,
form::-webkit-scrollbar {
  width: 10px;
  background-color: #333;
  border-radius: 50px;
}

.product__title::-webkit-scrollbar-thumb,
.product__body::-webkit-scrollbar-thumb,
.add__title::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
form::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 50px;
  border: 2px solid #333;
}

.product__price {
  min-width: 60px;
  position: absolute;
  bottom: -20px;
  right: -20px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #13D6a8;
  border: 2px solid currentColor;
  background-color: var(--changelg);
  border-radius: 18px 0px 12px 0px;
  box-shadow:
    -2px -2px 5px 1px #02020250;
}

.product__btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  align-self: flex-start;
  background: var(--changedk);
  border: none;
  box-shadow: 2px 0px 0px 0px #000;
  border-radius: 0px 8px 0px 0px;
  outline: none;
  cursor: pointer;
  clip-path: polygon(0 0, 50px 0, 50px 50px);
}

.product__btn:hover::before {
  background: #018cb3;
}

.product__btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #12abd6;
  border-radius: 0px 8px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  clip-path: polygon(3px 0, 100% 0, 100% 47px);
  transition: background .3s;
}

.product__btn svg {
  width: 30px;
  position: absolute;
  right: 3px;
  top: 3px;
  fill: var(--changedk);
}

.section__adds {
  width: 80%;
  display: grid;
  gap: 20px 30px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.adds__add {
  width: 140px;
  height: 250px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
  position: relative;
  border: 2px solid #3d3d3d;
  box-shadow: 3px 3px 5px #02020250;
}

.add__img {
  width: 80%;
  aspect-ratio: 1;
  border: 2px solid #000;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.add__title {
  padding: 0px 2px;
  margin-bottom: 20px;
  color: var(--changedk);
  font-size: 16px;
  text-align: center;
  text-wrap: balance;
  overflow-y: auto;
}

.add__price {
  min-width: 60px;
  position: absolute;
  bottom: -15px;
  padding: 5px 7px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #13D6a8;
  background-color: var(--changelg);
  border: 3px solid #13D6a8;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 4px 10px #0008;
}

.arrow-up {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  border: 2px solid #000;
  padding: 7px;
  border-radius: 50%;
  background-color: var(--changelg);
  fill: var(--changedk);
  transition: fill .4s, border .4s;
}

.arrow-up:hover {
  fill: #13D688;
  border: 2px solid #13D688;
}







/* Admin */

.newSection {
  --bck: #12abd6;
  width: 90%;
  margin: 40px auto;
  cursor: pointer;
}

.newSection:hover {
  --bck: #05629c;
}

.newSection__title,
.newSection__body {
  margin: -3px;
  border: 5px dashed #fff;
  position: relative;
  background: var(--bck);
  color: #fff;
  font-size: 2.5em;
  box-shadow: 0px 0px 0px 8px var(--bck);
  transition: background .4s, box-shadow .4s;
}

.newSection__title {
  padding: 10px 50px;
  border-radius: 20px 20px 0px 0px;
}

.newSection__body {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
}

.newSection__body>svg,
.newProduct>svg {
  width: auto;
  height: 50%;
  padding: 5px;
  stroke: #fff;
  stroke-width: 12;
  border: 4px dashed #fff;
  border-radius: 50%;
}

.newIndex {
  min-width: 30px;
  padding: 5px 0;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

.newProduct {
  --bck: #12abd6;
  cursor: pointer;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  place-self: center;
}

.adds__add.newProduct {
  width: 134px;
  justify-content: flex-start;
  gap: 20px;
}

.newProduct,
.newProduct>span,
.newProduct::before {
  background: var(--bck);
  border: 2px dashed #fff;
  box-shadow: 0px 0px 0px 8px var(--bck);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  transition: background .4s, box-shadow .4s;
}

.newProduct__title {
  color: #fff;
  font-size: 1.6em;
  text-align: center;
}

.newProduct>svg {
  height: 40%;
}

.newProduct:hover {
  --bck: #05629c;
}

.product__index {
  min-width: 30px;
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: -15px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 3px;
  opacity: .8;
  transition: opacity .3s;
}

.product__index:hover {
  opacity: 0;
}

.product__btns {
  position: absolute;
  bottom: -27px;
  left: 45px;
  transform: translateX(-40%);
  display: flex;
  gap: 10px;
}

.add__btns {
  position: absolute;
  top: 15px;
  right: -24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit__btn,
.delete__btn {
  width: 40px;
  height: 40px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 5px;
  outline: none;
  position: relative;
}

.edit__btn {
  background-color: #ffa500;
}

.delete__btn {
  background-color: #ff0000;
}

.edit__btn>svg,
.delete__btn>svg {
  width: 80%;
  height: 100%;
  fill: #fff;
  transition: fill .2s;
}

.edit__btn:hover>svg,
.delete__btn:hover>svg {
  fill: #e2e2e2;
}


/* Modal */

.modal {
  width: 75%;
  min-height: 90vh;
  display: grid;
  margin: 0 auto;
  color: #fff;
  position: fixed;
  top: 5vh;
  left: 12.5%;
  z-index: 20;
  font-family: 'Roboto', sans-serif;
}

.bckModal {
  width: 100%;
  height: 100vh;
  border: none;
  outline: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #111d;
  cursor: pointer;
}

.closeModal {
  padding: 5px 20px 5px 20px;
  border: 3px solid currentColor;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  position: absolute;
  top: 10px;
  right: -15px;
  z-index: 20;
  font-weight: bold;
  font-size: 20px;
  color: #000;
  background: rgba(254, 35, 35);
  cursor: pointer;
  transition: color .2s;
}

.closeModal:hover {
  color: #fff;
}

.newForm {
  max-width: 500px;
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #05629c;
  border: 3px solid #000;
  gap: 20px;
  place-self: center;
  z-index: 10;
}

.newProductForm__title {
  max-width: 80%;
  font-size: 1.5em;
  align-self: center;
}

form {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  gap: 10px;
  overflow-y: auto;
  padding-right: 5px;
}

label {
  font-size: 1.2em;
  grid-column: 1/span 2;
}

label.number {
  grid-column: auto;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

textarea {
  resize: none;
}

input[required="true"]::after {
  content: "*";
  display: block;
  width: 10px;
  color: firebrick;
}


input[type="file"] {
  padding: 0;
}

form>button {
  padding: 8px 25px;
  border: 2px solid currentColor;
  border-radius: 25px;
  grid-column: 1/span 2;
  place-self: center;
  color: #00D688;
  background: transparent;
  font-size: 1.2em;
  cursor: pointer;
  transition: color .2s, background .2s;
}

form>button:hover {
  color: #fff;
  background: #00D688;
}

form>p {
  grid-column: 1/span 2;
  place-self: center;
  text-align: center;
}

@keyframes move {
  0% {
    transform: scale(1.07) translateX(0) translateY(0);
  }

  20% {
    transform: scale(1.07) translateX(8px) translateY(4px);
  }

  40% {
    transform: scale(1.09) translateX(-4px) translateY(1px);
  }

  60% {
    transform: scale(1.08) translateX(-7px) translateY(-3px);
  }

  80% {
    transform: scale(1.07) translateX(7px) translateY(2px);
  }

  100% {
    transform: scale(1.09) translateX(3px) translateY(1px);
  }
}

@keyframes rotateMove {
  0% {
    transform: rotate(-7deg) translateX(-5px);
  }

  100% {
    transform: rotate(-20deg) translateX(-5px);
  }
}

.fadeIn {
  animation: fadeIn .5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInDown {
  animation: fadeInDown .5s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-width:768px) {

  header {
    padding: 5px 30px;
  }

  header>figure {
    width: 60px;
    height: 60px;
  }

  .instagram {
    width: 50px;
    height: 50px;
  }

  header>h1 {
    font-size: 2.5em;
  }

  .newSection__title {
    font-size: 2rem;
    padding: 20px 40px;
  }

  .newSection__body {
    height: 120px;
  }

  .modal {
    width: 80%;
    left: 10%;
  }

  .section__products {
    width: 87%;
  }
}

@media screen and (max-width:426px) {

  ::-webkit-scrollbar {
    width: 0px !important;
  }

  header {
    padding: 5px 20px;
  }

  header>figure {
    width: 50px;
    height: 50px;
  }

  .instagram {
    width: 40px;
    height: 40px;
    padding: 7px;
  }

  header>h1 {
    font-size: 2em;
  }

  .product__title,
  .add__title,
  .product__price {
    font-size: 16px;
  }

  .product__price {
    min-width: 50px;
  }

  .product__body {
    font-size: 14px;
  }

  .adds__add {
    width: 130px;
    height: 220px;
    padding: 5px;
  }

  .add__price {
    min-width: 50px;
    padding: 4px 4px;
    font-size: 17px;
  }

  .section__title {
    font-size: 26px;
  }

  .section__title::after {
    height: 3px;
  }

  .section__adds {
    width: 88%;
  }

  .section__products {
    width: 85%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .products__product {
    height: 110px;
  }

  .newSection__title {
    font-size: 1.5rem;
    padding: 10px 20px;
  }

  .newProduct__title {
    font-size: 1.4rem;
  }

  .newSection__body {
    height: 80px;
  }

  .modal {
    width: 90%;
    left: 5%;
  }

  .newForm {
    padding: 10px 15px;
  }

  .edit__btn,
  .delete__btn {
    width: 37px;
    height: 37px;
  }

  .product__btns {
    bottom: -27px;
    left: 27px;
  }
}